@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int a = 10;
}

<h1>This is my Index page.</h1>
@if (a > 5)
{
    a++;
    <h1>Value of a = @a</h1>
}